.insta {
  padding: 80px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 28px;

  @media only screen and (max-width: 992px) {
    flex-direction: column;
  } // @media only screen and (max-width : 992px)
}

@keyframes left-to-right {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes right-to-left {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;

  &.visible {
    animation: left-to-right 1s ease-in-out;
  }

  @media only screen and (max-width: 992px) {
    width: 100%;
    padding: 0 20px;
    align-items: flex-start;
  } // @media only screen and (max-width : 768px)
}

.text {
  font-weight: 700;
  font-size: 2.5rem; // 40px
  line-height: 1.15; // 46px / 40px = 1.15
  text-align: right;
  color: #beab56;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #bfab5c;
  color: #bfab5c;
  font-size: 1rem;
  line-height: 0.75;
  padding: 1.25rem 2.5rem;
  border-radius: 32px;
  text-decoration: none;
  transition: background-color 0.3s;
  width: fit-content;

  &:hover {
    background-color: #bfab5c;
    color: #fff;
  }
}

.right {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 70%;
  gap: 23px;

  & img {
    width: 150px;
    height: auto;
    opacity: 0;
    visibility: hidden;
  }

  &.visible {
    img:nth-child(1) {
      animation: right-to-left 1s ease-in-out forwards;
      visibility: visible;
    }
    img:nth-child(2) {
      animation: right-to-left 1s ease-in-out 0.5s forwards;
      visibility: visible;
    }
    img:nth-child(3) {
      animation: right-to-left 1s ease-in-out 1s forwards;
      visibility: visible;
    }
    img:nth-child(4) {
      animation: right-to-left 1s ease-in-out 1.5s forwards;
      visibility: visible;
    }
  }

  @media only screen and (max-width: 768px) {
    width: 100%;
    padding: 0 20px 0 250px;
    overflow-x: scroll;

    &::-webkit-scrollbar {
      display: none;
    }
  } // @media only screen and (max-width : 768px)
}
