.doc {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 0;
  gap: 80px;

  @media only screen and (max-width: 992px) {
    flex-direction: column-reverse;
  } // @media only screen and (max-width : 992px )
}

@keyframes left-to-right {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes right-to-left {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.left {
  max-width: 530px;
  width: 50%;

  &.visible {
    animation: left-to-right 1s ease-in-out;
  }

  @media only screen and (max-width: 992px) {
    width: 100%;
    padding: 0 20px;
  } // @media only screen and (max-width : 992px)
}

.title {
  font-weight: 700;
  font-size: 1.25rem; // 20px
  line-height: 1.5; // 32px / 20px = 1.6
  color: #beab56;
}

.text {
  font-weight: 300;
  font-size: 1rem;
  line-height: 2; // 32px / 16px
  color: #7b7b7b;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;

  & li {
    position: relative;
    padding-left: 30px;
    margin-bottom: 16px;

    font-weight: 300;
    font-size: 1rem;
    line-height: 2; // 32px / 16px
    color: #7b7b7b;

    &::before {
      content: "";
      position: absolute;
      top: 8px;
      left: 4px;
      width: 16px;
      height: 16px;
      background-color: #beab56;
      border-radius: 50%;
      opacity: 0.4;
    } // &::before
  }
}

.right {
  width: 50%;

  &.visible {
    animation: right-to-left 1s ease-in-out;
  }

  @media only screen and (max-width: 992px) {
    width: 100%;
  } // @media only screen and (max-width : 992px)
}

.img {
  width: 100%;
  height: auto;
}
