.content {
  font-weight: 300;
  font-size: 1rem;
  line-height: 2;
  color: #7B7B7B;

  &__container {
    margin: 80px auto;
    max-width: 1000px;
  }

  &__title {
    font-weight: 700;
    font-size: 1.25rem; // 20px
    line-height: 1.5; // 32px / 20px = 1.6
    color: #BEAB56;
  }

  &__btn {
    display: block;
    text-decoration: underline;
    margin: 4px auto 0;
    background-color: transparent;
    border: none;
    
    color: #BEAB56;
    font-size: 1rem; // 16px
    line-height: 2.5; // 40px / 16px = 2.5
    font-weight: 600;

  }
}

.images {
  display: flex;
  justify-content: center;
  gap: 50px;
  overflow-x: hidden;
  margin-bottom: 80px;

  & img {
    width: 500px;
    height: auto;
    aspect-ratio: 1/1;
  }

  @media only screen and (max-width: 1200px) {
    gap: 20px;

    & img {
      height: 450px;
      width: auto;
    }
  } // @media only screen and (max-width : 1200px)

  @media only screen and (max-width: 992px) {
    gap: 10px;

    & img {
      height: 300px;
      width: auto;
    }
  } // @media only screen and (max-width : 992px)

  @media only screen and (max-width: 768px) {
    gap: 0;
  } // @media only screen and (max-width : 768px)
}
