.institute {
  background-image: url("../../../assets/IDO_marca_dagua.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left center;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-height: 550px;

  @media only screen and (max-width : 992px) {
    background-size: 100% 100%;
  }// @media only screen and (max-width : 992px)
}

.content {
  max-width: 530px;
  width: 50%;

  font-weight: 300;
  font-size: 1rem;
  line-height: 2; // 32px / 16px
  color: #414141;
}
